@import "src/utils/styles/_variables.scss";
@import "src/utils/styles/_mixins.scss";

$card-margin: 1rem;

.c-roster-card {
  flex: 100%;
  position: relative;
  display: flex;
  margin: $card-margin;
  margin-top: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  user-select: none;

  &__image-container {
    flex: 1 1 25%;
    min-width: 100px;
  }

  &__info {
    flex: 1 1 75%;
    position: relative;
    padding: 1rem;
    font-size: 0.8rem;
  }

  &__name {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__location {
    color: rgba(0, 0, 0, 0.68);
  }

  &__website {
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;

    &:hover {
      transform: scale(1.05);
    }

    & > a {
      text-decoration: none;
      color: black;
    }
  }

  &__champion {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
  }
}

@include for-tablet-portrait-up {
  .c-roster-card {
    flex: 0 1 calc(50% - #{$card-margin} * 2);
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .c-roster-card {
    flex: 0 1 calc(33% - #{$card-margin} * 2);
  }
}

@media (min-width: 1024px) {
  .c-roster-card {
    flex: 0 1 calc(25% - #{$card-margin} * 2);
  }
}
